@import url("https://fonts.cdnfonts.com/css/minecraftia");

body {
  background-color: #dbdbdb;
  font-family: "Minecraftia";
}

/* Minecraft Style Inventory Panel*/
.inventoryWrapper {
  /* Inventory background box */
  display: block;
  border-style: outset;
  border-width: 5px;
  border-color: white #373737 #373737 white;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  background: #c6c6c6;
}

/* Inventory top row for header */
.inventoryPanel {
  display: grid;
  grid-template-columns: 75px 200px 75px auto 150px repeat(2, 75px);
  grid-template-rows: repeat(4, 75px);
  grid-template-areas:
    "armor person . middle crafting craftingArrow craftingResult"
    "armor person . middle crafting craftingArrow craftingResult"
    "armor person . middle crafting craftingArrow craftingResult"
    "armor person shield middle . . .";
  background: #c6c6c6;
  padding: 10px;

  .inventoryItem {
    border-style: inset;
    border-width: 4px;
    border-color: #373737 white white #373737;
    background: #8b8b8b;
  }

  /* Specific ids for sections of header */
  #armor {
    grid-area: armor;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  #person {
    grid-area: person;
    background: #070d0d;
  }

  #shield {
    grid-area: shield;
  }

  #middle {
    grid-area: middle;
    display: inline-block;
  }

  #crafting {
    grid-area: crafting;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    grid-template-rows: repeat(2, 75px);
  }

  #craftingArrow {
    grid-area: craftingArrow;
    margin: auto;
  }

  #craftingResult {
    grid-area: craftingResult;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 75px;
    grid-template-rows: 75px;
  }
}


.inventoryBox {
  /* General inventory item box */
  border-style: inset;
  border-width: 4px;
  border-color: #373737 white white #373737;
  background: #8b8b8b;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.inventoryBox .titleBox {
  border: white 4px inset;
  border-width: 0px 2px 2px 0px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 80%;
  width: fit-content;
}

/* Columns for index page */
.frontMain {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.frontOneCol {
  flex: 40%;
  display: flex;
  flex-direction: column;
}